REACT_APP_VIDEOSDK_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlrZXkiOiIwNzc1NGVkNC02Mzk4LTRiYTAtYTczYy03ZjJlNzkyZWZlZmMiLCJwZXJtaXNzaW9ucyI6WyJhbGxvd19qb2luIiwiYWxsb3dfbW9kIl0sImlhdCI6MTcyMTEwODk1OSwiZXhwIjoxNzIxMTQ0OTU5fQ.-tNLk2QEfwvEQbxN7BOTDn8aT3i89dUtKDPSriOkXVg"